<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="pix/favicon.png">

    <meta name="keywords" content="CRUD framework open source metadata UI SPA MVC Backbone View Model ui-model" />
    <meta name="description" content="Evolutility :: Demo Single Page App" /></head>

    <link href="dist/css/dependencies.min.css" rel="stylesheet" />
    <link href="dist/css/demo.css" rel="stylesheet" />
    <link href="dist/css/evolutility.min.css" rel="stylesheet" />

    <script src="dist/dependencies.min.js" type="text/javascript"></script>
    <script src="dist/evolutility.js" type="text/javascript"></script>

    <script src="ui-models/contacts.js" type="text/javascript"></script>
    <script src="ui-models/todo.js" type="text/javascript"></script>
    <script src="ui-models/winecellar.js" type="text/javascript"></script>
    <script src="ui-models/comics.js" type="text/javascript"></script>
    <script src="ui-models/testCesc.js" type="text/javascript"></script>

    <title id="headTitle">Evolutility HTML</title>
</head>

<body>

<div class="evo-header">
    <div class="evo-logo"><a href="#"><span>evol</span>utility<span>.js</span></a></div>
    <ul class="evo-head-links">
        <li><a href="#" class="sel">Modules</a></li>
        <li class="evo-link2">
            <ul class="evo-head-links2">
                <li><a href="#todo" data-id="todo">todo</a></li>
                <li><a href="#contact" data-id="contact">addressbook</a></li>
                <li><a href="#winecellar" data-id="winecellar">wine cellar</a></li>
                <li><a href="#comics/cards" data-id="comics">graphic novels</a></li>
                <li><a href="#testCesc" data-id="testCesc">testCesc</a></li>
            </ul>
        </li>
        <!--
        <li class="spaced"><a href="https://github.com/evoluteur/evolutility-server" target="_new">GitHub</a></li>
	-->
    </ul>
    <div class="clearfix"></div>
</div>

<div class="evo-title2 evol-ellipsis">
    <h1 id="title">Demos</h1>
</div>

<div class="evo-content2">

    <div id="evol" class="">
        <div id="demo-txt">

            <p><br/>These sample applications are not anything you haven't seen before.
                The interesting thing is that these demos are not done with templates, CSS and custom Javascript but
                are only configured with UI-models.
            </p>

            <p>By changing the ui-model, Evolutility set of views can behave as any of the following:
            <div class="demo-links links-bih">
                <div><a href="#todo" data-id="todo"><img src="pix/todo.gif" class="evo-icon-16">To Do</a></div>
                <div><a href="#contact" data-id="contact"><img src="pix/contact.gif" class="evo-icon-16">AddressBook</a></div>
                <div><a href="#winecellar" data-id="wine"><img src="pix/wine.gif" class="evo-icon-16">Wine cellar</a></div>
                <div><a href="#comics/cards" data-id="comics"><img src="pix/comics.png" class="evo-icon-16">Graphic novels</a></div>
                <div><a href="#testCesc" data-id="testCesc"><img src="pix/cube.gif" class="evo-icon-16">TestCesc</a></div>
            </div>

            <!-- http://stackoverflow.com/questions/4743751/jquery-modal-dialog-box-isnt-submitting-my-form -->

            <form id="myform" action="javascript:alert('success!');" method="post">
                <input type="text" name="check_me" />
                <input type="button" id="btnSubmit" value="Go!" />
            </form>
            <div id="confirm" style="display:none;">Please confirm that you want to submit</div>​

            <script>
            $(document).ready(function(){
                var submitForm = $('#myform');
                submit = false;

                $("#confirm").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    autoOpen: false,
                    buttons: {
                        'Submit': function() {
                            $(this).dialog('close');
                            submit = true;
                            $('#myform').submit();
                            //submitForm.submit();
                        },
                        'Cancel': function() {
                            $(this).dialog('close');
                        }
                    }
                });
                $("#confirm").parent().appendTo($("#myform"));
                $("#btnSubmit").click(function() { $('#myform').submit(); });

                submitForm.submit(function() {
                    if (submit) {
                        return true;
                    } else {
                        $("#confirm").dialog('open');
                        return false;
                    }
                });
            });​
            </script>

           <!--
            <h2> Register <h2>
              <form method="POST" action="/#contact/list" class="registerForm">
                  <input type="text" name="fullName" id="fullName" class="input-lg " placeholder="your full name" data-required="true">
                  <input type="text" name="age" id="age" class="input-lg" placeholder="age">
                  <input type="text" name="city" id="city" class="input-lg" placeholder="Your City">
                  <input type="text" name="job" class="input-lg" placeholder="Your Job">
                  <input type="text" name="username" class="input-lg " placeholder="prefered username" data-required="true">
                  <input type="password" name="password" class="input-lg" placeholder="Password">
                  <input type="email" name="email" class="input-lg " placeholder="your email" data-required="true">
                  <button type="submit" class="btn btn-primary registerButton">Sign in</button>
              </form>

              <h2>Login! </h2>
                  <form method="POST" action="/#testCesc/list" class="loginForm">
                  <hr class="colorgraph">
                  <input type="email" name="emaillog" class="input-lg " placeholder="your email" data-required="true">
                  <input type="password" name="passwordlog" class="input-lg" placeholder="Password">
                  <button type="submit" class="btn btn-primary loginButton">Log in</button>

              </form>
              <script>
                  $('button.registerButton').click( function() {
                    $('form.registerForm').submit();
                  });
                  $('button.loginButton').click( function() {
                    $('form.loginForm').submit();
                  });
              </script>
            -->

          </div>
    </div>

    <div class="clearfix"></div>

</div>

<!--
<div class="container">
  <div class="btn-toolbar">
    <button type="button" class="btn btn-default" ng-disabled="FM.btnDisabled('download')" ng-click="FM.download()"><span class="glyphicon glyphicon-download"></span> Download</button>
    <button type="button" class="btn btn-default" ng-disabled="FM.btnDisabled('delete')" ng-click="FM.delete()"><span class="glyphicon glyphicon-remove"></span> Delete</button>
    <button type="button" class="btn btn-default" ng-disabled="FM.btnDisabled('move')" data-toggle="modal" data-target="#moveModal"><span class="glyphicon glyphicon-random"></span> Move</button>
    <button type="button" class="btn btn-default" ng-disabled="FM.btnDisabled('rename')" data-toggle="modal" data-target="#renameModal"><span class="glyphicon glyphicon-font"></span> Rename</button>
    <button type="button" class="btn btn-default pull-right" ng-disabled="FM.btnDisabled('create_folder')" data-toggle="modal" data-target="#createFolderModal"><span class="glyphicon glyphicon-plus-sign"></span> New Folder</button>
    <button type="button" class="btn btn-default pull-right" ng-disabled="FM.btnDisabled('upload_file')" data-toggle="modal" data-target="#uploadFileModal"><span class="glyphicon glyphicon-upload"></span> Upload</button>
  </div>
-->

<!--
<div class="evo-content2">
    <h1 id="title">Form</h1>
    <form method="post" enctype="multipart/form-data" action="/file-upload">
        <p>User
          <input type="text" name="username">
        </p>
        <p>Password
          <input type="password" name="password">
        </p>
        <p>Thumbnail file
          <input type="file" name="thumbnail">
        </p>
        <input type="submit">
    </form>
</div>
-->

<script>

$(document).ready(function(){

    Evol.Config = {
        localStorage: false,
        url: '/api/v1/evolutility/'
        //url: 'http://localhost:3000/api/v1/evolutility/'
    };
    // - run App
    new Evol.App({
        el:$('#evol'),
        uiModels: [
            uiModels.todo,
            uiModels.contact,
            uiModels.winecellar,
            uiModels.comics,
            uiModels.testCesc
        ],
        style: 'panel-info',
        pageSize: 20
    }).render();

    $('.evo-head-links2 a').on('click', function(evt){
        var el=$(evt.currentTarget);
        el.parent().parent().find('a')
            .removeClass('sel');
        el.addClass('sel');
    });

});

</script>



<div class="footer">&#169; 2016 Olivier Giulieri</div>
</body>

</html>
